<!-- home section -->

<section class="col p-0">
    <div class="top-header" id="header-stick" >
      <div class="logo pl-2">
        <a class="navbar-brand" href="#">
          <img src="assets/images/favicon.png" alt="logo"></a>
      </div>
      <div class="main-menu mx-auto" id="nav">
        <nav id="navbar-example2" class="navbar navbar-expand-lg navbar-light">
          <button class="navbar-toggler" type="button" >
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="scroll-spy">
            <ul class="navbar-nav mx-auto nav">
              <li class="nav-item active">
                <a class="nav-link" href="javascript:void(0)">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">frontend</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="javascript:void(0)">admin</a>
              </li>
            </ul>
          </div>
        </nav>
      </div>
    </div>
  </section>
  <!-- home section -->
  
  <!--home section start-->
  <section class="main-img pt-0" id="img-bg">
    <div class="container-fluid">
      <div class="main-contain">
        <div>
          <h1 class="m-0">Sangvi<span>Mall</span></h1>
          <h3 class="m-0">The <span>BEST SELLING</span> e-Commerce Website</h3>
          <img src="assets/images/landing-page/text.PNG" alt="" class="img-fluid">
        </div>
      </div>
    </div>
  </section>
  <!--home section end-->
  
  