<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>contact</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/shop'">Home</a></li>
                        <li class="breadcrumb-item active">contact</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb End -->
<!--section start-->
<section class=" contact-page section-b-space">
    <div class="container">
        <div class="row section-b-space">
            <div class="col-lg-7 map">
                    <img  src="assets/images/contact-us.png" class="img-fluid" alt=""/>
            </div>
            <div class="col-lg-5">
                <div class="contact-right">
                    <ul>
                        <li>
                            <div class="contact-icon">
                                <img  src="assets/images/icon/phone.png" alt="Generic placeholder image">
                                <h6>Contact Us</h6>
                            </div>
                            <div class="media-body">
                                <p>+91 8376817046</p>
                                <p>+91 8588805737</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-map-marker" aria-hidden="true"></i>
                                <h6>Address</h6>
                            </div>
                            <div class="media-body">
                                <p>ABC Complex,Near xyz, Noida</p>
                                <p>Noida - 123456</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <img  src="assets/images/icon/email.png" alt="Generic placeholder image">
                                <h6>Email Address</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@SahosoftMall.com</p>
                                <p>info@SahosoftMall.com</p>
                            </div>
                        </li>
                        <li>
                            <div class="contact-icon">
                                <i class="fa fa-fax" aria-hidden="true"></i>
                                <h6>Fax</h6>
                            </div>
                            <div class="media-body">
                                <p>Support@SahosoftMall.com</p>
                                <p>info@SahosoftMall.com</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <form class="theme-form" [formGroup]="contactusForm" (ngSubmit)="PostData(contactusForm)">
                    <div class="form-row">
                        <div class="col-md-6">
                            <label for="name">First Name</label>
                            <input type="text" class="form-control" formControlName="FirstName" placeholder="Enter Your First name" 
                            [ngClass]="{ 'is-invalid': submitted && f.FirstName.errors }">
                            <div *ngIf="submitted && f.FirstName.errors"
                                class="col-xl-3 col-md-4 invalid-feedback">
                                <div *ngIf="f.FirstName.errors.required">First Name is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="email">Last Name</label>
                            <input type="text" class="form-control" formControlName="LastName" placeholder="Enter Your Last Name" 
                            [ngClass]="{ 'is-invalid': submitted && f.LastName.errors }">
                            <div *ngIf="submitted && f.LastName.errors"
                                class="col-xl-3 col-md-4 invalid-feedback">
                                <div *ngIf="f.LastName.errors.required">Last Name is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="review">Phone number</label>
                            <input type="text" class="form-control" formControlName="MobileNo" placeholder="Enter your number"
                            [ngClass]="{ 'is-invalid': submitted && f.MobileNo.errors }">
                            <div *ngIf="submitted && f.MobileNo.errors"
                                class="col-xl-3 col-md-4 invalid-feedback">
                                <div *ngIf="f.MobileNo.errors.required">MobileNo is required</div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="email">Email</label>
                            <input type="text" class="form-control" formControlName="EmailId" placeholder="Enter your Email"
                            [ngClass]="{ 'is-invalid': submitted && f.EmailId.errors }">
                        <div *ngIf="submitted && f.EmailId.errors"
                            class="col-xl-3 col-md-4 invalid-feedback">
                            <div *ngIf="f.EmailId.errors.required">EmailId is required</div>
                            <div *ngIf="f.EmailId.errors.email">EmailId must be a valid email address
                            </div>
                        </div>
                        </div>
                        <div class="col-md-12">
                            <label for="review">Write Your Message</label>
                            <textarea class="form-control" placeholder="Write Your Message" formControlName="Message" rows="6" [ngClass]="{ 'is-invalid': submitted && f.Message.errors }"></textarea>
                            <div *ngIf="submitted && f.Message.errors"
                                class="col-xl-3 col-md-4 invalid-feedback">
                                <div *ngIf="f.Message.errors.required">Message is required</div>
                            </div>
                        </div>
                        <div class="col-md-12">
                            <button class="btn btn-solid" type="submit" >Send Your Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
