<div class="row">
  <div class="col-lg-6">
    <div class="header-contact">
      <ul>
        <li>{{ 'topbar-title' | translate }}</li>
        <li><i class="fa fa-phone" aria-hidden="true"></i>{{ 'call-us' | translate }}: 7387354142</li>
      </ul>
    </div>
  </div>
  <div class="col-lg-6 text-right">
    <ul class="header-dropdown">

      <li class="onhover-dropdown mobile-account">
        <i class="fa fa-user" aria-hidden="true"></i> {{ 'my-account' | translate }}
        <ul class="onhover-show-div">
          <li>
            <a [routerLink]="'/pages/login'" data-lng="en">
              {{ 'login' | translate }}
            </a>
          </li>
          <li>
            <a [routerLink]="'/home/shop'" data-lng="es">
              {{ 'logout' | translate }}
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</div>