<!-- breadcrumb start -->
<div class="breadcrumb-section">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="page-title">
                    <h2>faq</h2>
                </div>
            </div>
            <div class="col-sm-6">
                <nav aria-label="breadcrumb" class="theme-breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a [routerLink]="'/home/shop'">home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">faq</li>
                    </ol>
                </nav>
            </div>
        </div>
    </div>
</div>
<!-- breadcrumb end -->
<!-- section start-->
<section class="faq-section section-b-space">
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="accordion theme-accordion" id="accordion">
                    <div class="card">
                        <div class="card-header" id="headingOne">
                            <h5 class="mb-0">
                               <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                        WHO CAN SELL ON SANGVI MALL?
                                </button> 
                            </h5>
                        </div>

                        <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
                            <div class="card-body">
                                <p>Anyone selling new and genuine products is welcome. To start selling, you need to have the following:  <br/>
                                        · PAN Card  <br/>
                                        · GST/GSTIN Number (not mandatory for tax exempted categories)  <br/>
                                        · Bank account and supporting KYC documents (ID Proof, Company Address proof, Warehouse Address proof and Cancelled cheque)  <br/>
                                        · Brand Authorization Letter/Trademark Certificate</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingTwo">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                                        HOW TO SELL ON Sangvi MALL?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                            <div class="card-body">
                                <p>·Register yourself at seller.paytm.com & submit the required documents. To manage your business smoothly you will be trained on using the Seller panel.<br/>
                                   · List your products under specific product categories & go live.<br/>
                                   · Manage orders (Receive orders, pack the product and Request for Pickup. Our courier partner will pick up the product and deliver it to the customer).<br/>
                                   · Once an order is successfully delivered to the customer, Paytm Mall will initiate your payment within the next working day of the bank.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingThree">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                                        WHAT ARE THE DOCUMENTS REQUIRED TO SELL ON Sangvi MALL?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
                            <div class="card-body">
                                <p>You are required to have the following documents:<br/>
                                        · PAN Card<br/>
                                        · GST/GSTIN Number (not mandatory for tax exempted categories)<br/>
                                        · Bank account and supporting KYC documents (ID Proof, Company Address proof, Warehouse Address proof and Cancelled cheque)<br/>
                                        · Brand Authorization Letter/Trademark Certificate
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFour">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                                        CAN I REGISTER IF I DO NOT HAVE A GST/GSTIN NUMBER?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
                            <div class="card-body">
                                <p>If you have a PAN card, you can register as a seller, but you will only be eligible to sell in tax exempted categories. Selling any other products will require a GSTIN number.</p>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header" id="headingFive">
                            <h5 class="mb-0">
                                <button class="btn btn-link collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
                                        ARE THERE ANY CHARGES FOR REGISTRATION?
                                </button>
                            </h5>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
                            <div class="card-body">
                                <p>Listing of products on SangviMall.com is absolutely free. Sangvi Mall does not charge anything for listing your catalogue online. You only pay a small commission for what you sell.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Section ends-->
